
@import url(../lib/bs4/css/bootstrap.min.css);

h1 {
    color: var(--blue);
    /* color: var(--danger); */
}

table {
    padding: 40px;
}

.flex-row {
    display: flex;
}

.flex-row button {
    margin-left: 10px;
}

.add-new-book {
    background-color: teal;
    border-radius: 5px;
    padding: 18px 0 8px 8px;
    display: flex;
    justify-content: space-evenly;
}

.jumbotron {
    max-height: 180px;
}

.modal-body {
    display: block;
    justify-content: space-around;
    max-width: fit-content;
}

a#whitea {
    color:white;
}

.tableimg {
    max-width: 200px;
    max-height: 200px;
}

.rating {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 0 5px;
}

#plusbtn, #minusbtn {
    margin: 0;
}

